//- This line extends the main layout (layout.pug)
//- It means this template will inherit the structure defined in layout.pug
//- The content defined here will be inserted into the 'block content' of the layout
extends layout

block content
  h2 Authors
  //- Demonstrating a table for displaying structured data
  table.authors-table
    //- Table header (thead) with column names //Creates a table with a class of authors-table for styling purposes. //tr: Represents a table row.
    thead
      tr 
        th Name
        th Birth Year   
        th Nationality
    //- Table body (tbody) with rows of data - thead: th: Represents a table header cell. Columns are titled "Name," "Birth Year," and "Nationality."



    tbody
      each author in authors
        tr
          td= author.name
          td= author.birthYear
          td= author.nationality

